.App {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-box {
  display: flex;
  gap: 10px;
  height: 30px;
}
